<app-navbar></app-navbar>
<div>
    <input type="text" placeholder="salary">
    <button>submit</button>
</div>
<div>
    <ul>
        <li>your salary</li>
        <li>salary amount</li>
    </ul>
</div>
<div>
    <input type="text" placeholder="Input your expense">
    <input type="text" placeholder="expense money">
    <button>submit</button>
</div>
<div>

    <table>
        <tr>
            <th> expense</th>
            <th> expense amount</th>
            <th>edit</th>
             <th> delete</th>
        </tr>
        <tr>
            <td>expense</td>
            <td>expense</td>
            <td>expense </td>
            <td>expense </td>
        </tr>
    </table>

</div>

<div>
    <p>your savings</p>
    <p>savings amount</p>
</div>